.card {
  width: 45vh;
  height: 45vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: .4rem;
}

.card a {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a:hover {
  flex: 3;
}

.card a span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transition: all .5s;
  color: #121212;
}
